body{
    background-color: rgb(240, 234, 247);
 }
 h1 {
     color: blue;
 }
#input_id {
     border-radius: 50px; 
     border: 1px solid  white;

 }
 h1 {
    text-decoration: underline;
 }
 .p {
    justify-items: auto;
 }
 article >p{
    background-color: red;
    width: 500px;
    height: 20px;
 }
 article{
    font-weight: bolder;
 }
 a:link{
    color:blue;
    font-weight: 700;
 }
 a:visited{
    color:brown;
    font-weight: 700;
    
 }